<!-- <div class="container" style="width: 550px; margin-top: 6%">
    <div class="text-center">
        <h2 style="font-family:fantasy">Update Event</h2>
    </div>
    <br>
    <form (ngSubmit)="editForm()" #formniSiya="ngForm">
        <div class="form-row">
            <div class="col">
                <input type="name" class="form-control" placeholder="Enter Name" name="eventname" [(ngModel)]="eventname"
                    #name="ngModel" required>
                <div *ngIf="name.invalid && (name.dirty || name.touched)">
                    <div class="alert alert-danger" role="alert" *ngIf="name.errors.required">Event name is required!!</div>
                </div>
            </div>
            <div class="col">
                <input type="name" class="form-control" placeholder="Enter Name" name="category" [(ngModel)]="eventcategory"
                    #ecategory="ngModel" required>
                <div *ngIf="ecategory.invalid && (ecategory.dirty || ecategory.touched)">
                    <div class="alert alert-danger" role="alert" *ngIf="ecategory.errors.required">Event category is
                        required!!</div>
                </div>
            </div>
        </div><br>
        <div class="form-row">
            <div class="col">
                <input type="name" class="form-control" placeholder="Enter Name" name="eventspeaker" [(ngModel)]="eventspeaker"
                    #espeaker="ngModel" required>
                <div *ngIf="espeaker.invalid && (espeaker.dirty || espeaker.touched)">
                    <div class="alert alert-danger" role="alert" *ngIf="espeaker.errors.required">Event category is
                        required!!</div>
                </div>
            </div>
            <div class="col">
                <input type="name" class="form-control" placeholder="Enter Name" name="eventemcee" [(ngModel)]="eventemcee"
                    #emcee="ngModel" required>
                <div *ngIf="emcee.invalid && (emcee.dirty || emcee.touched)">
                    <div class="alert alert-danger" role="alert" *ngIf="emcee.errors.required">Event category is
                        required!!</div>
                </div>
            </div>
        </div><br>
        <div class="form-row">
            <div class="col">
                <input type="name" class="form-control" placeholder="Enter Name" name="eventdate" [(ngModel)]="eventdate"
                    #edate="ngModel" required>
                <div *ngIf="edate.invalid && (edate.dirty || edate.touched)">
                    <div class="alert alert-danger" role="alert" *ngIf="edate.errors.required">Event category is
                        required!!</div>
                </div>
            </div>
            <div class="col">
                <input type="name" class="form-control" placeholder="Enter Name" name="eventtime" [(ngModel)]="eventtime"
                    #etime="ngModel" required>
                <div *ngIf="etime.invalid && (etime.dirty || etime.touched)">
                    <div class="alert alert-danger" role="alert" *ngIf="etime.errors.required">Event category is
                        required!!</div>
                </div>
            </div>
        </div><br>
        <div class="form-row">
            <input type="name" class="form-control" placeholder="Enter Name" name="eventduration" [(ngModel)]="eventduration"
                #eduration="ngModel" required>
            <div *ngIf="eduration.invalid && (eduration.dirty || eduration.touched)">
                <div class="alert alert-danger" role="alert" *ngIf="eduration.errors.required">Event category is
                    required!!</div>
            </div>
        </div><br>
        <div formGroupName="venue">
            <div class="form-row">
                <div class="col">
                    <input type="name" class="form-control" placeholder="Enter Name" name="eventaddress" [(ngModel)]="eventaddress"
                        #eaddress="ngModel" required>
                    <div *ngIf="eaddress.invalid && (eaddress.dirty || eaddress.touched)">
                        <div class="alert alert-danger" role="alert" *ngIf="eaddress.errors.required">Event category is
                            required!!</div>
                    </div>
                </div>
                <div class="col">
                    <input type="name" class="form-control" placeholder="Enter Name" name="eventbuilding" [(ngModel)]="eventbuilding"
                        #ebuilding="ngModel" required>
                    <div *ngIf="ebuilding.invalid && (ebuilding.dirty || ebuilding.touched)">
                        <div class="alert alert-danger" role="alert" *ngIf="ebuilding.errors.required">Event category
                            is required!!</div>
                    </div>
                </div>
                <div class="col">
                    <input type="name" class="form-control" placeholder="Enter Name" name="eventroom" [(ngModel)]="eventroom"
                        #eroom="ngModel" required>
                    <div *ngIf="eroom.invalid && (eroom.dirty || eroom.touched)">
                        <div class="alert alert-danger" role="alert" *ngIf="eroom.errors.required">Event category is
                            required!!</div>
                    </div>
                </div><br>
                <div class="form-row">
                    <input type="text" class="form-control" placeholder="Description" formControlName="description"
                        name="description">
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <button class="btn btn-danger btn-block" [routerLink]="['/eventList']" routerLinkActive="router-link-active"><i
                                class="fa fa-close"></i>&nbsp;Cancel</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-success btn-block"><i class="fa fa-check"></i>&nbsp;Save
                            Event</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div> -->