<app-header></app-header>
<button data-toggle="modal" data-target="#myModal" class="btn mr-3" id="addEventBtn"
    *ngIf="isViewingList"><i class="fa fa-plus"></i>&nbsp;Add Event</button>
<br>
<br>
<div class="container" *ngIf="isViewingList">
    <div *ngFor="let event of events">
        <div class="jumbotron col-sm-12 events-list">
            <div class="row">
                <div class="col-sm-8">
                    <h2>{{event.name}}</h2>
                </div>
                <div class="col-sm-4">
                    <button class="btn" (click)="viewEvent(event)"><i
                            class="fa fa-eye"></i>&nbsp;View Details</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" *ngIf="!isViewingList">
    <app-participants-list [participants]="event.participants"></app-participants-list>
</div>

<!-- The Modal -->

<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add Event Form</h4>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <app-addevent (event)="addEvent($event)"></app-addevent>
            </div>
        </div>
    </div>
</div>